@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #131313;
  color: #d6d6d6;
  margin: 0;
}

.swiper-button-prev {
  --swiper-theme-color: "#FFFFFF";
}

.swiper-button-next {
  --swiper-theme-color: "#FFFFFF";
}
